<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fonfon.camerastrike"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode,face" />

        <activity
            android:name=".ui.game.GameActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.StartActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fit">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.scan.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.message.MessageActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.CameraActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.CreateMatchActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.GenerateCodeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Fit"/>
    </application>

</manifest>